#ClassyGames_Board
{
	display: none;
}


#ClassyGames_Board_Board
{
	display: none;
	margin-bottom: 2em;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
}


.ClassyGames_Board_Board_Position
{
	float: left;
	height: 100%;
	width: 12.5%;
}


.ClassyGames_Board_Board_Position_Black
{
	background-color: #666666;
}


.ClassyGames_Board_Board_Position_White
{
	background-color: #FFFFFF;
}


.ClassyGames_Board_Board_Position img
{
	margin-top: 12%;
	width: 100%;
}


#ClassyGames_Board_ActionBar
{
	display: none;
}